<div class="draggable-word-block">
    <span class="dragdrop-text">{% verbatim %}{{ block.wordblock }}{% endverbatim %}</span>
    <span class="dragdrop-abbrev">{% verbatim %}&nbsp;{{ tag }}&nbsp;{% endverbatim %}</span>
</div>