<div class="modal-header">
    <h3 class="modal-title">
        {% verbatim %}{{ title }}{% endverbatim %}
    </h3>
</div>
<div class="modal-body">
    <div class="dragdrop-feedback" ng-bind-html="content"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Close</button>
</div>