<div id="mod-dragdrop-content">
    {# begin alerts #}
    <alerts messages="messages"></alerts>
    {# end alerts #}

    {# begin menu #}
    <edit-menu></edit-menu>
    {# end menu #}

    {% block content %}

    {% endblock %}
</div>
